*{
    box-sizing: border-box;
}
html{
    background-color: rgb(0, 174, 255);
    color: white;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    background-color: rgb(5, 5, 5);
    width: 30%;
    box-shadow: 0 0 5px 2px #050505;

}
body header{
    background-color: rgb(32, 32, 32);
    padding: 15px 30px;
    border-radius: inherit;
    font-size: 2rem;
}
.form{
    padding: 0px 40px;
    width: 90%;
    margin: auto;
    
}
.form-control{
    margin: 20px 0;
    position: relative;
    max-width: 100%;
}
.form-control label{
 display: block;
 margin: 5px 0;
 max-width: 100%;
 font-size: 1.5rem;
}
.form-control input{
    width: 100%;
    display: inline-block;
    height: 30px;
    font-size: 15px;
}
.form-control i{
    position: absolute;
    right: 2%;
    bottom:  34%;
    color: rgb(82, 81, 81);
}
.form-control small {
    display: block;
}
.form input[type="submit"]{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 174, 255);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

body footer{
    margin-top: 20px;
    background-color: rgb(32, 32, 32);
    padding: 5px 30px;
    border-radius: inherit;
}